<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <app-input-dice
      formControlName="combactSkill"
      [title]="'Combattività'"
      [dice]="10"
      [addNumber]="10"
    ></app-input-dice>
    <p *ngIf="form.get('combactSkill')?.errors?.['required'] && submitted">
      <small class="error">Lancia il dado per la combattività</small>
    </p>
    <app-input-dice
      formControlName="endurancePoints"
      [title]="'Resistenza'"
      [dice]="10"
      [addNumber]="20"
    ></app-input-dice>
    <p *ngIf="form.get('endurancePoints')?.errors?.['required'] && submitted">
      <small class="error">Lancia il dado per la resistenza</small>
    </p>
  </div>
  <hr />
  <app-choice-kai-disciplines
    formControlName="kaiDisciplines"
  ></app-choice-kai-disciplines>
  <p *ngIf="(form.get('kaiDisciplines')?.errors?.['maxCheck'] || !form.get('kaiDisciplines')?.value) && submitted">
    <small class="error">Scegli 5 discipline</small>
  </p>
  <p
    *ngIf="form.get('kaiDisciplines')?.errors?.['masterInWeapon'] && submitted"
  >
    <small class="error">Lancia il dado per selezionare l'arma</small>
  </p>
  <hr />
  <app-input-dice
    formControlName="findInTheRuins"
    [title]="'Trovi tra le rovine'"
    [array]="datesService.items"
  ></app-input-dice>
  <p *ngIf="form.get('findInTheRuins')?.errors?.['required'] && submitted">
    <small class="error">Lancia il dado per sapere cosa trovi tra le rovine</small>
  </p>
  <app-input-dice
    formControlName="goldCoin"
    [title]="'Monete d\'oro'"
    [addNumber]="1"
  ></app-input-dice>
  <p *ngIf="form.get('goldCoin')?.errors?.['required'] && submitted">
    <small class="error">Lancia il dado per le monete d'oro</small>
  </p>
  <hr />
  <div class="flex-center-center">
    <button class="btn w-80" type="submit">Gioca</button>
  </div>
</form>

<!-- <pre>{{ form.value | json }}</pre>
<pre>form valid: {{ form.valid | json }}</pre>
<pre>form touched: {{ form.touched | json }}</pre> -->
